.silkCommerce {
  .flex {
    display: flex;
    justify-content: center;
    &.space-between {
      justify-content: space-between;
    }
    &.space-around {
      justify-content: space-around;
    }
    &.start {
      justify-content: flex-start;
    }
    &.top-bottom {
      flex-wrap: wrap;
      align-content: space-between;
    }
    &.end {
      align-items: flex-end;
    }
    &.stretch {
      align-items: stretch;
    }
    &.col-direction {
      flex-direction: column;
    }
    &.justify-end {
      justify-content: flex-end;
    }
  }
  .align-center {
    align-items: center;
  }
  .grow {
    flex-grow: 1;
  }
  .bg-boots {
    background: linear-gradient( rgba(83, 93, 100, 0.4), rgba(83, 93, 100, 0.4) ), url('../img/boots.jpg') center no-repeat;
    background-size: cover;
  }
  .explore-btn {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background: transparent;
    border: 1px solid lightgrey;
    border-radius: 25px;
    &:hover, &:focus {
      background: inherit;
      border: 1px solid lightgrey;
      outline: none;
    }
  }
  .card-h {
    height: 402px;
  }
  .half-w {
    width: 50%;
  }
  .full-w {
    width: 100%;
  }
  .padding-16 {
    padding: 16px;
  }
  .style-i-off {
    font-size: 10px;
    opacity: .5;
  }
  .v-align {
    vertical-align: top;
  }
  a:hover {
    cursor: pointer;
  }
  .border-b {
    border-bottom: 1px solid #eee;
  }
  .padding-list {
    padding: 8px 16px;
  }
  .colors {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
  }
  .border-r {
    border-right: 1px solid lightgrey;
  }
  .circle-badge {
    display: inline-block;
    min-width: 20px;
    border-radius: 50%;
  }
  .badge-position {
    margin-left: -13px;
    z-index: 2;
  }
  .two-btn-cart {
    border: 1px solid #eee;
    border-radius: 25px;
    .flat {
      min-width: 34px;
    }
    button {
      padding-left: 15px;
      padding-right: 15px;
      background-color: transparent;
    }
    button:first-child {
      width: 50px;
      border-right: 1px solid lightgrey;
    }
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 3px 3px rgba(0,0,0,.28);
  }
  .margin-r-15 {
    margin-right: 15px;
  }
  .arrow-up {
  position: relative;
	width: 0;
	height: 0;
  margin-left: 75%;
	border-left: 10px solid #d1c4e9;
	border-right: 10px solid #d1c4e9;
	border-bottom: 10px solid white;
}
  .over-card {
    height: 172px;
    overflow-y: scroll;
  }
  .scroll-style::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  	background-color: #eee;
    border-radius: 4px;
  }
  .scroll-style::-webkit-scrollbar {
  	width: 5px;
  	background-color:#eee;
  }
  .scroll-style::-webkit-scrollbar-thumb {
  	background-color: #757575;
    border-radius: 4px;
  	border: 0;
  }
  .padding-menu {
    padding: 5px 15px;
  }
  .menu-look {
    border-radius: 25px;
  }
  .fab-look {
    &.fab-mini {
      margin: 0 5px;
    }
  }
  .line-h-3 {
    line-height: 3;
  }
  .line-h-2 {
    line-height: 2;
  }
  .card-menu {
    &.card {
      overflow: visible;
    }
  }
  .img-rotate {
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Safari */
    transform: rotate(-30deg); /* Standard syntax */
  }
  .sell {
    text-decoration: line-through;
  }
  ul.chips {
    height: 22px;
    line-height: 24px;
    background: #388e3c;
    margin: 7px 15px 7px 0;
  }
  ul.chips:hover {
    background-color: #66bb6a;
    border: 1px solid #66bb6a;
  }
  ul.chips li:hover {
    color: white;
  }
  .bg-tshirt {
    background: url('../img/tshirt.png') no-repeat;
    background-position: 180% 100%;
    background-size: contain;
  }
  .navigation-btn {
    border: 1px solid #eee;
    border-radius: 25px;
    height: 24px;
    button {
      height: 24px;
      font-size: 20px;
      font-weight: bold;
      border: 0;
      padding: 1px 0;
      background: transparent;
    }
    button:focus {
      outline:none;
    }
    button:first-child {
      border-right: 1px solid lightgrey;
    }
  }
  .margin-b-img {
    margin-bottom: -6px;
  }
  .e-tabs {
    border-bottom: 1px solid lightgrey;
    .e-row {
      padding: 0;
    }
  }
  .e-tabs-container .e-tab-content.active {
    height: 322px;
  }
  .tab-display {
    .e-shadow-1 {
    box-shadow: none!important;
    padding-top: 0!important;
    }
  }
  .input-look {
    width: 50px;
    .e-input {
      &, &:focus, &.focus {
        &:not(textarea):not(select) {
          height: 36px;
          padding-bottom: 0;
          border: 1px solid lightgrey;
          border-radius: 4px;
        }
      }
    }
    .e-input:focus ~ .e-input-efects:after, .e-input.focus ~ .e-input-efects:after {
      display: none;
    }
  }
  .margin-t-7 {
    margin-top: 7px;
  }
  .img-active {
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
