.silkBlogMagazine .flex {
  display: flex;
  justify-content: center;
}
.silkBlogMagazine .flex.space-between {
  justify-content: space-between;
}
.silkBlogMagazine .flex.space-around {
  justify-content: space-around;
}
.silkBlogMagazine .flex.start {
  justify-content: flex-start;
}
.silkBlogMagazine .flex.top-bottom {
  flex-wrap: wrap;
  align-content: space-between;
}
.silkBlogMagazine .flex.end {
  align-items: flex-end;
}
.silkBlogMagazine .flex.stretch {
  align-items: stretch;
}
.silkBlogMagazine .flex.col-direction {
  flex-direction: column;
}
.silkBlogMagazine .align-center {
  align-items: center;
}
.silkBlogMagazine .grow {
  flex-grow: 1;
}
.silkBlogMagazine .bg-mountain {
  background: linear-gradient(rgba(83, 93, 100, 0.4), rgba(83, 93, 100, 0.4)), url('../img/munte.jpg') no-repeat;
  background-size: cover;
}
.silkBlogMagazine .explore-btn {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  background: transparent;
  border: 1px solid lightgrey;
  border-radius: 25px;
}
.silkBlogMagazine .explore-btn:hover,
.silkBlogMagazine .explore-btn:focus {
  background: inherit;
  border: 1px solid lightgrey;
  outline: none;
}
.silkBlogMagazine .card-h {
  height: 402px;
}
.silkBlogMagazine .half-w {
  width: 50%;
}
.silkBlogMagazine .full-w {
  width: 100%;
}
.silkBlogMagazine .style-i-off {
  font-size: 10px;
  opacity: .5;
}
.silkBlogMagazine .bg-offroad {
  background: url('../img/offroad.jpg') center no-repeat;
  background-size: cover;
}
.silkBlogMagazine .relative {
  position: relative;
}
.silkBlogMagazine .btn-position {
  position: absolute;
  margin: 16px;
}
.silkBlogMagazine .v-align {
  vertical-align: top;
}
.silkBlogMagazine .padding-r-15 {
  padding-right: 15px;
}
.silkBlogMagazine .card-img .card-supporting-text:first-child {
  padding: 0;
}
.silkBlogMagazine .card-img .card-supporting-text:first-child .card-supporting-text {
  padding: 16px;
}
.silkBlogMagazine .card-img .card {
  box-shadow: none;
}
.silkBlogMagazine .card-img .card-suplimentary-actions {
  border-top: 0;
}
.silkBlogMagazine .padding-16 {
  padding: 16px;
}
.silkBlogMagazine .duster-card ul {
  padding: 2px 0;
}
.silkBlogMagazine .border-b {
  border-bottom: 1px solid #eee;
}
.silkBlogMagazine .bg-style {
  background: linear-gradient(rgba(83, 93, 100, 0.6), rgba(83, 93, 100, 0.6)), url('../img/style.jpg') center no-repeat;
  background-size: cover;
}
.silkBlogMagazine .e-avatar {
  width: 45px;
  border-radius: 50%;
  padding: 0 8px;
}
.silkBlogMagazine .bg-trans {
  background: url('../img/transfagarasan.png') no-repeat;
  background-size: cover;
}
.silkBlogMagazine .two-btn {
  width: 90%;
  border: 1px solid #eee;
  border-radius: 25px;
}
.silkBlogMagazine .two-btn button {
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
}
.silkBlogMagazine .two-btn button:first-child {
  border-right: 1px solid lightgrey;
}
.silkBlogMagazine .bg-culture {
  background: url('../img/culture.png') no-repeat;
  background-size: cover;
}
.silkBlogMagazine .bg-chair {
  background: linear-gradient(rgba(83, 93, 100, 0.4), rgba(83, 93, 100, 0.4)), url('../img/chair.jpg') center no-repeat;
  background-size: cover;
}
.silkBlogMagazine .margin-r-15 {
  margin-right: 15px;
}
.silkBlogMagazine .margin-b-img {
  margin-bottom: -6px;
}
.silkBlogMagazine .navigation-btn {
  border: 2px solid #eee;
  border-radius: 25px;
  height: 24px;
}
.silkBlogMagazine .navigation-btn button {
  height: 24px;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  padding: 1px 0;
}
.silkBlogMagazine .navigation-btn button:focus {
  outline: none;
}
.silkBlogMagazine .navigation-btn button:first-child {
  border-right: 1px solid lightgrey;
}
.silkBlogMagazine .card .card-header {
  padding: 8px 16px;
}
.silkBlogMagazine .border-r {
  border-right: 1px solid lightgrey;
}
.silkBlogMagazine .bg-nadia {
  background: url('../img/nadia.jpg') center center no-repeat;
  background-size: cover;
}
.silkBlogMagazine .width-80 {
  width: 80%;
}
.silkBlogMagazine .no-border {
  border: 0;
}
.silkBlogMagazine .no-border:hover,
.silkBlogMagazine .no-border:focus {
  border: 0;
}
.silkBlogMagazine .no-border.card-suplimentary-actions {
  border-top: 0;
}
.silkBlogMagazine .margin-8-auto {
  margin: 8px auto;
}
.silkBlogMagazine .circle {
  border-radius: 50%;
}
.silkBlogMagazine .v-align-middle {
  vertical-align: middle;
}
.silkBlogMagazine .video {
  background-color: transparent;
  width: 50px;
  border: 2px solid lightgrey;
  border-radius: 25px;
}
.silkBlogMagazine .video:hover,
.silkBlogMagazine .video:focus {
  background-color: transparent;
  border: 2px solid lightgrey;
  outline: none;
}
.silkBlogMagazine .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.silkBlogMagazine .margin-t-8 {
  margin-top: 8px;
}
.silkBlogMagazine .border {
  border: 2px solid lightgrey;
}
.silkCommerce .flex {
  display: flex;
  justify-content: center;
}
.silkCommerce .flex.space-between {
  justify-content: space-between;
}
.silkCommerce .flex.space-around {
  justify-content: space-around;
}
.silkCommerce .flex.start {
  justify-content: flex-start;
}
.silkCommerce .flex.top-bottom {
  flex-wrap: wrap;
  align-content: space-between;
}
.silkCommerce .flex.end {
  align-items: flex-end;
}
.silkCommerce .flex.stretch {
  align-items: stretch;
}
.silkCommerce .flex.col-direction {
  flex-direction: column;
}
.silkCommerce .flex.justify-end {
  justify-content: flex-end;
}
.silkCommerce .align-center {
  align-items: center;
}
.silkCommerce .grow {
  flex-grow: 1;
}
.silkCommerce .bg-boots {
  background: linear-gradient(rgba(83, 93, 100, 0.4), rgba(83, 93, 100, 0.4)), url('../img/boots.jpg') center no-repeat;
  background-size: cover;
}
.silkCommerce .explore-btn {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  background: transparent;
  border: 1px solid lightgrey;
  border-radius: 25px;
}
.silkCommerce .explore-btn:hover,
.silkCommerce .explore-btn:focus {
  background: inherit;
  border: 1px solid lightgrey;
  outline: none;
}
.silkCommerce .card-h {
  height: 402px;
}
.silkCommerce .half-w {
  width: 50%;
}
.silkCommerce .full-w {
  width: 100%;
}
.silkCommerce .padding-16 {
  padding: 16px;
}
.silkCommerce .style-i-off {
  font-size: 10px;
  opacity: .5;
}
.silkCommerce .v-align {
  vertical-align: top;
}
.silkCommerce a:hover {
  cursor: pointer;
}
.silkCommerce .border-b {
  border-bottom: 1px solid #eee;
}
.silkCommerce .padding-list {
  padding: 8px 16px;
}
.silkCommerce .sizes {
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
}
.silkCommerce .border-l-r {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
.silkWidgets .flex {
  display: flex;
  justify-content: center;
}
.silkWidgets .flex.space-between {
  justify-content: space-between;
}
.silkWidgets .flex.space-around {
  justify-content: space-around;
}
.silkWidgets .flex.start {
  justify-content: flex-start;
}
.silkWidgets .flex.top-bottom {
  flex-wrap: wrap;
  align-content: space-between;
}
.silkWidgets .flex.end {
  align-items: flex-end;
}
.silkWidgets .flex.stretch {
  align-items: stretch;
}
.silkWidgets .flex.col-direction {
  flex-direction: column;
}
.silkWidgets .flex.justify-end {
  justify-content: flex-end;
}
.silkWidgets .align-center {
  align-items: center;
}
.silkWidgets .grow {
  flex-grow: 1;
}
.silkWidgets .full-w {
  width: 100%;
}
.silkWidgets .width-80 {
  width: 80%;
}
.silkWidgets .half-w {
  width: 50%;
}
.silkWidgets .e-avatar {
  width: 45px;
  border-radius: 50%;
  padding: 0 8px;
}
.silkWidgets .margin-r-15 {
  margin-right: 15px;
}
.silkWidgets .go-up {
  transform: rotate(90deg);
  font-size: 50px;
  padding-top: 20px;
}
.silkWidgets .go-down {
  transform: rotate(-90deg);
  font-size: 50px;
}
.silkWidgets .card-h {
  height: 402px;
}
.silkWidgets .border-b {
  border-bottom: 1px solid #eee;
}
.silkWidgets ul.chips {
  height: 22px;
  line-height: 24px;
  background: white;
  margin: 7px 15px 7px 0;
}
.silkWidgets ul.chips:hover {
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
}
.silkWidgets ul.chips li:hover {
  color: black;
}
.silkWidgets .v-align-tt {
  vertical-align: text-top;
}
.silkWidgets .circle {
  border-radius: 50%;
}
.silkWidgets .padding-16 {
  padding: 16px;
}
.silkWidgets a:hover {
  cursor: pointer;
}
.silkWidgets .border-l-r {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
.silkWidgets .margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.silkWidgets .padding-t-b {
  padding: 10px 0;
}
.silkWidgets .border-circle {
  border: 2px solid white;
}
.silkWidgets .margin-t-img {
  margin-top: -80px;
}
.silkWidgets .no-border {
  border: 0;
}
.silkWidgets .no-border:hover,
.silkWidgets .no-border:focus {
  border: 0;
}
.silkWidgets .no-border.card-suplimentary-actions {
  border-top: 0;
}
.silkWidgets .explore-btn {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  background: transparent;
  border: 1px solid lightgrey;
  border-radius: 25px;
}
.silkWidgets .explore-btn:hover,
.silkWidgets .explore-btn:focus {
  background: inherit;
  border: 1px solid lightgrey;
  outline: none;
}
.silkWidgets .v-align-tb {
  vertical-align: text-bottom;
}
.silkWidgets .v-align-middle {
  vertical-align: middle;
}
.silkWidgets .padding-para {
  padding: 5px 16px;
}
.silkWidgets .v-align-bm {
  vertical-align: -webkit-baseline-middle;
}
.silkWidgets .margin-t-9 {
  margin-top: 9px;
}
.silkWidgets .navigation-btn {
  border: 2px solid #eee;
  border-radius: 25px;
  height: 24px;
}
.silkWidgets .navigation-btn button {
  height: 24px;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  padding: 1px 0;
}
.silkWidgets .navigation-btn button:focus {
  outline: none;
}
.silkWidgets .navigation-btn button:first-child {
  border-right: 1px solid lightgrey;
}
.silkWidgets .card-h-padding.card-header {
  padding: 14px 16px;
}
.silkWidgets .border-r {
  border-right: 1px solid lightgrey;
}
.silkWidgets .badge {
  display: inline-block;
  min-width: 30px;
  margin-left: 10px;
  border-radius: 25px;
}
.silkWidgets .download-btn {
  border: 1px solid lightgrey;
  border-radius: 25px;
}
.silkWidgets .download-btn.flat {
  min-width: 25px;
  min-height: 24px;
  line-height: 24px;
}
.silkWidgets .download-btn.flat:focus {
  border: 1px solid lightgrey;
  outline: none;
}
.silkWidgets .percent-in {
  margin-top: -80px;
}
.silkWidgets .relative {
  position: relative;
}
.silkWidgets .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.silkWidgets .margin-b-neg {
  margin-bottom: -35px;
}
.silkWidgets .bg-twitter {
  background: linear-gradient(rgba(46, 153, 234, 0.8), rgba(46, 153, 234, 0.9)), url('../img/twitter.png') no-repeat;
  background-position: 90% 160%;
}
.silkWidgets .bg-facebook {
  background: linear-gradient(rgba(57, 73, 171, 0.9), rgba(57, 73, 171, 0.9)), url('../img/facebook.png') no-repeat;
  background-position: 120% 160%;
}
.silkWidgets .margin-b-untold {
  margin-bottom: -7px;
}
.silkWidgets .padding-10 {
  padding: 10px;
}
.silkWidgets .margin-t-neg-10 {
  margin-top: -10px !important;
}
.silkWidgets .margin-l-25 {
  margin-left: 25px!important;
}
.silkWidgets .amr-look {
  display: inline-block;
  padding-left: 15px;
}
.silkArticles .flex {
  display: flex;
  justify-content: center;
}
.silkArticles .flex.space-between {
  justify-content: space-between;
}
.silkArticles .flex.space-around {
  justify-content: space-around;
}
.silkArticles .flex.start {
  justify-content: flex-start;
}
.silkArticles .flex.top-bottom {
  flex-wrap: wrap;
  align-content: space-between;
}
.silkArticles .flex.end {
  align-items: flex-end;
}
.silkArticles .flex.stretch {
  align-items: stretch;
}
.silkArticles .flex.col-direction {
  flex-direction: column;
}
.silkArticles .flex.justify-end {
  justify-content: flex-end;
}
.silkArticles .align-center {
  align-items: center;
}
.silkArticles .grow {
  flex-grow: 1;
}
.silkArticles .full-w {
  width: 100%;
}
.silkArticles .width-80 {
  width: 80%;
}
.silkArticles .e-avatar {
  width: 45px;
  border-radius: 50%;
  padding: 0 8px;
}
.silkArticles .bg-winter {
  background: linear-gradient(rgba(83, 93, 100, 0.5), rgba(83, 93, 100, 0.5)), url('../img/header-view.jpg') no-repeat;
  background-size: cover;
  opacity: .7;
}
.silkArticles .first-p::first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 3px;
  padding-right: 15px;
}
.silkArticles .margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.silkArticles .e-row {
  margin: 0 -1%;
}
.silkArticles .social a {
  display: inline-block;
  width: 70px;
  padding: 3px 8px;
  margin: 0 5px;
}
.silkArticles .social a i {
  padding: 0 15px 0 0;
}
.silkArticles a:hover {
  cursor: pointer;
}
.silkArticles .width-90 {
  width: 90%;
}
.silkArticles .margin-r-15 {
  margin-right: 15px;
}
.silkArticles .border-i {
  border: 1px solid lightgrey;
}
.silkArticles .comment-box {
  padding: 15px 25px;
}
.silkArticles .btn-radius {
  border-radius: 25px;
}
.silkArticles .btn-radius.flat {
  padding: 0 16px;
}
footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
